@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --text: #381E0A;
  --primary: #1E4D42;
  --secondary: #238169;
  --bg: #FFFBF0;
  --border: #238169;
  --card-bg: #FFFAEB;
  --accordion-bg: #F6F1E3;
  --accent: #C44E00;
  --accent-dark: #F3AD14;


  --body: "Nunito Sans", sans-serif;
  --heading: "Merriweather", serif;

  --main-font-weight: 400;
  --header-font-weight: 600;
  --button-font-weight: 600;

  font: 18px/145% var(--body);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Universal Styling */

* {
  margin: 0;
  box-sizing: border-box;

}

body {
  position: relative;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  width: 92%;
}

img {
  pointer-events: none;
}

.row {
  display: flex;
}

.column {
  flex-direction: column;
}

audio {
  background-color: var(--secondary);
  border-radius: .5em;
  overflow: hidden;
  width: 100%;
}



button {
  background-color: var(--secondary);
  border: none;
  font-size: var(--main-font-weight);
  font-weight: 400;
  padding: .625em;
  border-radius: .2em;
  transition: 150ms ease-in;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

/* NAV BAR */
header {
  background-color: var(--bg);
  border-bottom: 1px solid #f4eddb;
  position: sticky;
  top: 0;
  padding: 0 10%;
  z-index: 5;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.nav-left {
  .logo img {
    width: 8em;
    display: inline-block;
    cursor: pointer;
  }
}

.nav-list a {
  color: var(--secondary);
  text-decoration: none;
  margin: 1em;
  transition: 150ms ease-in;
  overflow: hidden;
  position: relative;
}

.nav-list a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1em;
  opacity: 0;
  border-radius: 15%;
  background-color: var(--secondary);
  transform: translate3d(-20%, .1em, 0);
  transition: 200ms ease-out;
}

.nav-list a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}

.mobile-menu .nav-list {
  max-height: 0px;
}

.mobile-menu {
  display: none;
}

.hamburger {
  color: var(--secondary);
  background-color: var(--bg);
  display: none;
}

/* TEXT STYLES */
h1,
h2,
h3,
h4 {
  color: var(--primary);
  font-family: var(--heading);
  font-weight: var(--header-font-weight);
  line-height: 160%;
}

h1 {
  /* margin-top: 2em; */
}

h2 {
  font-size: clamp(1.125rem, 5vw, 1.5rem);
}

p {
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 4%;

}

.italic {
  font-style: italic;
}


/* HOME PAGE */

.intro-text {
  text-align: center;
  margin-top: 3em;
}

.intro-text .accent {
  font-style: italic;
  color: var(--secondary);
  font-size: 0.875rem;
  margin-bottom: 1em;
}

.title {
  line-height: 130%;
  font-size: clamp(2rem, 5vw, 3.3rem);
  letter-spacing: 1%;
  margin-bottom: .2em;
}

.cards-filter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardshome-container {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  margin: 1em;
  border: var(--border) solid 2px;
  border-radius: .5em;
  padding: 1.875em;
  flex: 0 0 calc(48% - 1em);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.cardshome-container:hover {
  transform: translateY(-5px);
  /* Simple lift */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  /* Increased depth */
  background-color: #fff9ed;
  border: #C44E00 2px solid;

  button {
    background-color: var(--accent);
  }

  h2 {
    color: var(--accent);
  }
}


.cardshome-container p {
  margin-top: 1em;
  margin-bottom: 1.25em;
}

.cardshome-container button {
  width: 100%;
  margin-top: auto;
}

/* Learn Page */

.info-section {
  display: flex;
  justify-content: space-between;
}

.info-section h2 {
  width: 15%;
}

.accordion-section {
  transition: all ease-in 200ms;

  width: 70%;

  .content {
    padding: 0 2.5em 1.5em 2.5em;
  }

}

.accordion-item {
  background-color: var(--accordion-bg);
  border-radius: .5em;
  padding: 1.5em 2.5em;
  margin: 1em 0;
  cursor: pointer;
  overflow: hidden;
}

.accordion-container:hover {
  cursor: pointer;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    transition: 200ms ease-in-out;
  }

  p {
    font-size: 1.5rem;
    color: var(--primary);
    line-height: 0;
  }
}

/* opened accordion */
.accordion.toggled {
  background-color: #f6f1e37b;
  border-radius: .5em;
}

.cards-section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/* Card page */
input,
select {
  background-color: var(--accordion-bg);
  color: var(--text);
  border: none;
  padding: .5em;
  font-size: 1rem;
  font-family: var(--body);
  border-radius: .2em;
}

select {
  padding: .5em 3em .5em .5em;
}

input:focus-visible {
  outline: #2597C5 2px solid;

}

.filter-options {
  margin: 1em 0;
  gap: 2em;

  h3 {
    margin-bottom: .5em;
  }
}

.cards-container {
  margin: .5em 0;
  padding: 1.5em 2.5em;
  background-color: var(--card-bg);
  border: var(--border) solid 2px;
  border-radius: .5em;
  display: flex;
  flex: 0 0 calc(50% - 1em);
  gap: 1em;
  flex-direction: column;

  .cards-content {
    width: 70%;
    align-self: center;

  }

  .row {
    align-self: center;
  }


  img {
    max-width: 100%;
    object-fit: cover;
    /* flex-shrink: 0; */

  }

  .card-img {
    width: 30%;
    height: fit-content;
    margin-right: 1em;
    align-self: center;
  }

  audio {
    margin-top: auto;
    width: 100%;
  }

}

/* Audio Page */
.audio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.audio-card-container {
  border: var(--border) 2px solid;
  background-color: var(--card-bg);
  padding: 1em 2em;
  border-radius: .5em;
  width: 49%;
}




/* Supporters Page */
main.sections {
  min-width: 100%;
  width: 100%;
  padding: 0;

}

.sections {
  height: 90dvh;
  /* enable vertical scrolling */
  overflow-y: scroll;
  /* mandatory snapping on y  */
  scroll-snap-type: y mandatory;

}
.sections .support-primary-text{
  margin-top: 8%;
  max-width: 80%;
}

.section {
  min-height: 100dvh;
  display: flex;
  /* define snap point */
  scroll-snap-align: start;
  /* Make sure sections aren't skipped */
  scroll-snap-stop: always;
padding: 0 8%;
}

.section-1 {
  background-color: #155A4B;
  color: #CCEFE0;
  .support-primary-text {
    color: #CCEFE0;
  }
}

.section-2 {
  background-color: #FBAC18;
  color: #573601;

  .support-primary-text {
    color: #573601;
  }
}

.section-3 {
  background-color: #773217;
  color: #FFD38A;

  .support-primary-text {
    color: #FFD38A;
  }
}

.section-4 {
  background-color: #DF5E26;
  color: #FFF4C3;

  .support-primary-text {
    color: #FFF4C3;
  }

  h3 {
    color: #FFF4C3;
  }
}

.support-primary-text {
  font-size: 8rem;
  line-height: 120%;
}

.support-secondary-text {
  font-family: var(--heading);
  font-weight: var(--header-font-weight);
  font-size: 4rem;
}




@media (max-width: 1024px) {
  .navbar {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Home Page */
  .cardshome-container {
    flex: 0 0 calc(47% - 1em);
  }

  /* card page */
  .cards-filter-section {
    flex-wrap: wrap;

    .cards-container {
      width: 100%;
      text-align: center;


      .cards-content {
        width: 100%;
      }

      img {
        width: 50%;
        object-fit: cover;
        align-self: center;
      }

      .row {
        flex-direction: column;
      }
    }
  }

  /* Audio Page */
  .audio-card-container {
    width: 48%;
  }
}

@media (max-width: 903px) {
  h1 {
    text-align: center;
  }

  header {
    padding: 0;
    border: none;
  }

  header,
  .hamburger {
    background-color: var(--primary);
  }

  .navbar {
    overflow: hidden;
    justify-content: center;
    padding: 0;
  }

  .web-nav {
    display: none;
  }

  .mobile-menu {
    display: block;
    min-width: 100%;
  }

  .nav-left {
    display: none;
  }

  .nav-list {
    overflow: hidden;
    flex-direction: column;
    display: flex;
    transition: max-height 700ms ease-in-out;
  }

  .nav-list a {
    text-align: center;
    color: var(--bg);
    border: #1f5447 1px solid;
    margin: 0;
    padding: 1em;
  }

  .nav-list a:hover {
    background-color: var(--primary);
    color: var(--bg);

  }

  .nav-list.open {
    overflow: hidden;
    max-height: 500px;
  }

  .hamburger {
    display: block;
    margin-left: auto;
    padding: 2% 5%;
    color: var(--bg);
  }

  /* Learn Page */

  .info-section {
    flex-direction: column;
  }

  .info-section h2 {
    width: 100%;
    margin-top: 1em;
  }

  .accordion-section {
    transition: all ease-in 200ms;
    width: 100%;

    .content {
      padding: 0 2.5em 1.5em 2.5em;
    }

  }
}


@media (max-width: 640px) {
  main {
    padding: 0 4%;
    width: 98%
  }

  .row {
    flex-direction: column;
  }

  .hamburger {
    padding: 3% 4%;
  }


  /* home page */
  .cards-filter-section {
    flex-direction: column;
  }

  .home-card-section {
    flex-direction: column;
  }

  /* learn page */
  .info-section h2 {
    text-align: center;
  }


  /* cards page */
  .cards-section-container {
    flex-wrap: nowrap;
    flex-direction: column;

    .cards-container {
      min-width: 100%;
    }
  }

  /* audio page */
  .audio-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1em;
  }

  .audio-card-container {
    width: 100%;
  }

}